#root {
  position: absolute;
  width: 80%;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background: white;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  margin-top: 2%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Bars__rect-hover {
  fill: green;
}

.chart__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.date__picker {
  margin: 0px 10px;
  height: 48px;
}

.area__select {
  height: 48px;
}

.title {
  text-align: center;
  margin: 10px;
}

@media only screen and (max-width: 7680px) {
  .area__select {
    min-width: 400px;
  }
}

@media only screen and (max-width: 992px) {
  #root {
    width: 100%;
    min-width: 100%;
    overflow: auto;
  }
  .Histogram svg {
    margin-top: 100px;
    max-height: 50%;
    width: 80%;
    max-width: 100%;
  }
  .area__select {
    min-width: 40%;
  }
  .chart__controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .date__picker {
    width: 50%;
  }
  .title {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #root {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
  }

  .Histogram svg {
    margin-top: 100px;
    height: 70%;
    width: 80%;
    max-width: 100%;
  }

  .area__select {
    min-width: 40%;
  }

  /* .DateRangePicker {
    width: 80%;
  } */

  .date__picker {
    width: 55%;
  }

  .chart__controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .title {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #root {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
  }

  .Histogram svg {
    margin-top: 100px;
    height: 70%;
    width: 80%;
    max-width: 100%;
  }

  /* .DateRangePicker {
    width: 80%;
  } */

  .date__picker {
    width: 80%;
    margin: 10px 0px;
  }

  .area__select {
    min-width: 80%;
  }

  .chart__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    text-align: center;
  }
}

@media only screen and (max-width: 420px) {
  #root {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
  }

  .Histogram svg {
    margin-top: 100px;
    height: 70%;
    width: 80%;
    max-width: 100%;
  }
  .date__picker {
    width: 98%;
    margin: 10px 0px;
  }

  .area__select {
    min-width: 98%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
